<div class="container">
    <div class="row-footer">
            <div class="col-xs-2">
                <ul class="list-unstyled">
                    <li><a href="/decouvrir/"><i class="fa fa-book"></i> Découvrir la PCS</a><li>
                    <li><a href="/decouvrir/histoire/">Histoire</a></li>
                    <li><a href="/decouvrir/guides/">Guides de documentation</a></li>
                    <li><a href="#">Nomenclatures françaises</a></li>
                    <li><a href="#">Nomenclatures étrangères</a></li>
                </ul>
            </div>
            <div class="col-xs-3">
                <ul class="list-unstyled">
                    <li><a href="/explorer"><i class="fa fa-book"></i> Explorer la PCS</a><li>
                    <li><a href="#">Les classes et sous-classes d'emploi</a></li>
                    <li><a href="#">Les groupes (et sous-groupes) de ménages</a></li>
                    <li><a href="#">Les rubriques ad-hoc de professions</a></li>
                    <li><a href="#">Les professions du numérique</a></li>
                </ul>
            </div>
            <div class="col-xs-2">
                <ul class="list-unstyled">
                    <li><a href="/decrire"><i class="fa fa-cogs"></i> Décrire et outils</a><li>
                    <li><a href="#">Portraits de groupes</a></li>
                    <li><a href="#">La société en quelques thèmes</a></li>
                    <li><a href="#">Outils pédagogiques</a></li>
                    <li><a href="#">Statistiques en ligne</a></li>
                    <li><a href="#">Obtention de micro-données</a></li>
                </ul>
            </div>
            <div class="col-xs-3">
                <ul class="list-unstyled">
                    <li><a href="/collecter"><i class="fa fa-file-text"></i> Collecter, coder</a><li>
                    <li><a href="#">Les instruments de collecte</a></li>
                    <li><a href="#">Les outils de codification</a></li>
                    <li><a href="#">La création des agrégats complémentaires</a></li>
                    <li><a href="#">La création de rubriques ad-hoc de profession</a></li>
                    <li><a href="#">L’utilisation de versions antérieures ou d’autres nomenclatures</a></li>
                </ul>
            </div>
            <div class="col-xs-2">
                <ul class="list-unstyled">
                    <li><a href="/apropos"><i class="fa fa-info"></i> A propos</a><li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
