<div class="container">
    <div class="row-footer">
            <div class="col-xs-3">
                <ul class="list-unstyled">
                    <li><a href="/discover/"><i class="fa fa-github"></i>Découvrir la PCS</a><li>
                    <li><a href="/discover/history/">Histoire</a></li>
                    <li><a href="/discover/guides/">Guides de documentation</a></li>
                    <li><a href="#">Nomenclatures françaises</a></li>
                    <li><a href="#">Nomenclatures étrangères</a></li>
                </ul>
            </div>
            <div class="col-xs-3">
                <ul class="list-unstyled">
                    <li><i class="fa fa-archive"></i> Projects<li>
                    <li><a href="#">Project jhvbj</a></li>
                    <li><a href="#">Project 2</a></li>
                    <li><a href="#">Project 3</a></li>
                </ul>
            </div>
            <div class="col-xs-3">
                <ul class="list-unstyled">
                    <li><i class="fa fa-cogs"></i> Services<li>
                    <li><a href="#">WOUHOU</a></li>
                    <li><a href="#">Development</a></li>
                    <li><a href="#">Presentations</a></li>
                </ul>
            </div>
            <div class="col-xs-3">
                <ul class="list-unstyled">
                    <li><i class="fa fa-file-text"></i> Documentation<li>
                    <li><a href="#">YEAH MAN</a></li>
                    <li><a href="#">API Docs</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
